@font-face {
    font-family: 'Quicksand';
    src: url(./fuente/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Rampart One';
    src: url(./fuente/RampartOne-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}