@import 'colors';
@import 'typefaces';

* {
    margin: 0;
    padding: 0;
}

#formulario {
    display: block;
    font-family: 'Quicksand';
    text-align: center;
    margin: 0px 790px 0px 820px;
    background-color: $backround-color;
    border-radius: 15px;
    border: 1px $border-color;
    padding: 10px
}

.logo-navbar{
    display: flex;
    justify-content: center;
}

#SobreCatino {
    font-family: 'Quicksand';
    text-align: center;
    background-color: $backround-color;
    font-weight: bold ;
    display: grid;
    grid-template-areas: 
    '. catinos .'
    '. catino .'
    ;
    grid-template-rows: 400px;
    .catinos {
        grid-area: catinos;
    }
    .catino {
        grid-area: catino;
    }    
}

body {
    background-color: $body-color;
    .container {
        clear:both;
        overflow:auto;
        background-color: $backround-color;
        border: 1px $border-color;
        border-radius: 10px;
      }
}

nav {
    float: left;
    ul li{
        display: inline-block; 
        padding: 10px;
        font-size: 30px; 
        font-family: rampart one;
        margin-top: 50px;
        padding-left: 50px;
        &:hover {
            color: $hover-color;
        }
        a {
            text-decoration: solid;
            color: $link-color;
            &:hover {
                color: $hover-color;
            }
        }
      }
}

.logo img {
    float:left;
    width: 150px;
    margin-left: -20px;
    margin-top: -15px;
}

p {
    font-family: quicksand;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px $border-color;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: $body-color;
}

#padre-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-family: rampart one;
    margin-top: 30px;
    background-color: $backround-color;
    border: 1px $border-color;
    border-radius: 10px;
    .bordes-redondeados {
        border-radius: 8px; border: 2px $border-color; 
        width: 200px;
        height: 315px;
    }
}

#padre-flex-2 {
    font-family: rampart one;
    margin-top: 30px;
    background-color: $backround-color;
    border: 1px $border-color;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-areas: 
    '. anime . '
    'video-1 sinopsis-1 sinopsis-1'
    'sinopsis-2 sinopsis-2 video-2'
    'video-3 sinopsis-3 sinopsis-3'
    'sinopsis-4 sinopsis-4  video-4'
    'video-5 sinopsis-5 sinopsis-5'
    ;
    grid-template-columns: 560px 920px 560px;
    h2 {
        padding: 15px;
    }
    .anime {
        grid-area: anime;
        display: flex;
        justify-content: center;
    }
    .video-1 {
        grid-area: video-1;
        width:560px; 
        height: 315px;
        border-radius: 8px; border: 5px $border-color; 
    }
    
    .sinopsis-1 {
        grid-area: sinopsis-1;
        margin-left: 30px;
        font-size: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .video-2 {
        grid-area: video-2;
        @extend .video-1
    }
    
    .sinopsis-2 {
        grid-area: sinopsis-2;
        @extend .sinopsis-1
    }
    
    .video-3 {
        grid-area: video-3;
        @extend .video-1 
    }
    
    .sinopsis-3 {
        grid-area: sinopsis-3;
        @extend .sinopsis-1
    }
    
    .video-4 {
        grid-area: video-4;
        @extend .video-1
    }
    
    .sinopsis-4 {
        grid-area: sinopsis-4;
        @extend .sinopsis-1
    }
    
    .video-5 {
        grid-area: video-5;
        @extend .video-1 
    }
    
    .sinopsis-5 {
        grid-area: sinopsis-5;
        @extend .sinopsis-1
    }
}

#footer {
    text-align: center;
    font-family: quicksand;
    display: grid;
    grid-template-areas: 
    '. item-1 item-2 .'
    'item-3 item-3 item-3 item-3'
    'item-4 item-4 item-4 item-4'
    'item-5 item-5 item-5 item-5'
    ;
    grid-template-rows: 150px 80px 50px 50px;
    border: 1px solid $border-color;
    border-radius: 10px;
    background-color: $backround-color;
    margin-top: 50px;
    a {
        text-decoration: solid;
        color: $link-color;
        &:hover {
            color: $hover-color;
        }
    }
    .item-1 {
        grid-area: item-1;
        justify-self: center;
    }
    
    .item-2 {
        grid-area: item-2;
        justify-self: center;
    }
    
    .item-3 {
        grid-area: item-3;
        justify-self: center;
    }
    
    .item-4 {
        grid-area: item-4;
        justify-self: center;
    }
    
    .item-5 {
        grid-area: item-5;
        justify-self: center;
    }
}

.redes {
    margin: 10px;
    width: 50px;
    border: 1px $border-color;
    border-radius: 15px;
}

.buscamanga {
    width: 280px;
    height: 35px;
    border-radius: 25px;
    border: 3px $border-color;
    padding-left: 15px;
}

@media screen and (min-width: 300px) and (max-width: 1200px) {
    

    nav {
        display: flex;
        flex-direction: column;
    }
    
    .menu {
        font-size: 28px;
        margin: 5px;
    }

    .logo {
        padding: 110px;
        margin-top: -100px;
    }

    .bordes-redondeados {
        display: flex;
        flex-direction: column;
        width: 300px; height: 450px;
        margin-top: 10px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        display: flex;
    }
    
    .grid-item {
        width: 100px;
    }
    
    h2 {
        font-size: 8px;
    }

    h3 {
        font-size: 8px;
    }
    
    h4 {
        font-size: 8px;
    }

    .catino {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 330px;
        margin-top: -250px;
    }

    .catinos img {
        width: 380px;
    }

    #padre-flex-2 {
        display: block;
    }

    .video-1 {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .sinopsis-1 {
        font-size: 100%;
        margin: 5px 20px 30px 0px;
    }

    .video-2 {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .sinopsis-2 {
        font-size: 100%;
        margin: 5px 20px 30px 0px;
    }

    .video-3 {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .sinopsis-3 {
        font-size: 100%;
        margin: 5px 20px 30px 0px;
    }

    .video-4 {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .sinopsis-4 {
        font-size: 100%;
        margin: 5px 20px 30px 0px;
    }

    .video-5 {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .sinopsis-5 {
        font-size: 100%;
        margin: 5px 20px 30px 0px;
    }

    .logo-navbar {
        width: 330px;
    }

    #formulario {
        display: block;
        margin: auto;
    }

    .item-1 {
       width: auto;
    }

    .item-2 {
        width: auto;
    }

    .item-3 {
        width: auto;
    }
   
    .item-4 {
        width: auto;
    }

    .item-5 {
        width: auto;
    }
}